.side-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	z-index: 2000;
	background: white;
	box-shadow: 0 0 30px;
	padding: 15px;
	height: 100vh;
	overflow: auto;
	transition: transform ease-in-out .2s;
	padding-top: 0;

	&.closed{
		transform: translateX(calc(-100% - 50px))
	}

	&.opened{
		transform: none;
	}

	.toggle-sidebar{
		top: -15px;
		right: -15px;
		width: 40px;
		height: 40px;
		text-align: center;
		padding: 0;
		align-items: center;
		display: flex;
		justify-content: center;
		border-radius: 20px;
		margin: 10px;
		margin-right: 0;
		background: #343a40;
		border: none;
	}
}