.side-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	z-index: 2000;
	background: white;
	box-shadow: 0 0 30px;
	padding: 15px;
	height: 100vh;
	overflow: auto;
	transition: transform ease-in-out .2s;

	&.closed{
		transform: translateX(calc(-100% - 50px))
	}

	&.opened{
		transform: none;
	}

	.toggle-sidebar{
		display: flex;
		align-items: center;
	}
}